.emojiPanelContent{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .emojiPanel{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 300px;
        width: 100%;
        background: white;
        .emoji-mart{
            width: inherit !important;
        }
        .emoji-mart-search{display: none;}/* 隐藏搜索框 */
        .emoji-mart-preview{display: none;}
    
    }
}
